
@{
    ViewBag.Title = "UrunOzellikGuncelle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


@{
    ViewBag.Title = "UrunOzellikleriEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@model ETicaret.WebUI.Models.UrunOzellik
@section head{
    <script src="~/Content/Admin/Flatlab Main Files/admin/template_content/js/jquery-1.8.3.min.js"></script>
    <script>
    $(document).ready(function myfunction() {

            var id = @Model.UrunId

            $.ajax({
                type: "GET",
                url: "/Admin/OzellikTipPartial",
                data: { KId: id },
                success: function myfunction(veri) {
                    $("#tip").html(' ');
                    $("#tip").append(veri);

                },
                error: function myfunction() {

                }
            });

        var oid = @Model.OzellikTipId

        $.ajax({
            type: "GET",
            url: '/Admin/OzellikDegerPartial',
            data: { OId: oid },
            success: function myfunction(veri) {
                $('#deger').html(' ');
                $('#deger').append(veri);

            },
            error: function myfunction() {

            }
        })


     });

    </script>

    <script>
        $(document).ready(function myfunction() {
            $("#urun").change(function myfunction() {

                var id = $(this).val();

                $.ajax({
                    type: "GET",
                    url: "/Admin/OzellikTipPartial",
                    data: { KId: id },
                    success: function myfunction(veri) {
                        $("#tip").html(' ');
                        $("#tip").append(veri);

                    },
                    error: function myfunction() {

                    }
                });



            });

        });
    </script>
}
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <br />
            <br /><br />
            <br />
            <header class="panel-heading">
                Ürün Özellik Ekle
            </header>
            <div class="panel-body">
                <form role="form" action="/Admin/UrunOzellikGuncelle" method="post" class="form-horizontal tasi-form">
                    <div class="form-group ">
                        <label class="col-lg-2 control-label">Ürün Adı</label>
                        <div class="col-lg-10">
                            <select id="urun" class="form-control col-lg-10" style="color:black" name="UrunId">
                                @foreach (var k in ViewBag.Urunler)
                                {
                                    if (k.Id == Model.UrunId)
                                    {
                                        <option selected="selected" value="@k.KategoriId">@k.Adi</option>
                                    }
                                    else
                                    {
                                        <option value="@k.KategoriId">@k.Adi</option>
                                    }
                                }


                            </select>
                            
                        </div>
                    </div>
                    <input type="hidden" value="@Model.Id" name="Id"/>
                    <div id="tip">

                    </div>
                    <br /><br />
                    <div id="deger">

                    </div>

                    <br /><br />
                    @*@{
                                                Html.RenderAction("OzellikDegerPartial", "Admin");
                                                Html.RenderAction("OzellikTipPartial", "Admin");

                        }*@

                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button class="btn btn-danger" type="submit">Kaydet</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>

